/* Backgrounds */
$body-background: linear-gradient(90deg, #2c4087 0%, #308c9d 50%, #3a6e8a 100%);
$title-background: linear-gradient(315deg, #42d392 40%, #647eff);

/* Colors */
$board-color: #ec7632;
