@import "_animations.scss";
@import "_variables.scss";
@import "_media.scss";

/* General */
body {
  font-family: "Arial", sans-serif !important;
  background: linear-gradient(90deg, #2c4087 0%, #308c9d 50%, #3a6e8a 100%);
  margin: 0;
  padding: 0;
  color: #fff;
}

ul {
  list-style: decimal;
  padding: 1rem;
  margin: 0;
}

/* Game */
#game {
  display: flex;
  flex-direction: column;
}

.game-container {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #ec7632;
  padding: 20px;
}

.cell {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 24px;
  color: #000;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

/* Words Area */
.submitted-words {
  border: #fff 1px solid;
  border-radius: 1rem;
  padding: 2.5rem;
}

/* Input Area */
.word-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.current-word {
  display: flex;
  .cell {
    margin: 2px;
    height: 40px;
    width: 40px;
    font-size: 16px;
  }
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.score {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

/* Cell Status */
.open {
  /* Cell standard */
  background-color: #fff;
}
.selected {
  /* Cell selected */
  background-color: rgb(110, 190, 114);
}

.canBeSelected {
  /* Cell starts bouncing when adjacent and therefore selectable */
  background-color: #fff;
  animation: heartbeat 1s infinite;
}

.inWord {
  /* Cell has been selected and not yet submitted */
  background-color: rgb(153, 216, 156);
}

.inactive {
  /* Cell unreachable and therefore inactive */
  background-color: gray;
}

/* Timer */
.timer-container {
  text-align: center;
  margin-top: 20px;
}

.timer-display {
  font-size: 24px;
  margin-bottom: 10px;
}

button {
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
}
